.btn {
  border: 3px solid transparent;
  border-radius: 9px;
  height: 40px;
  width: 40px;
  &-delete {
    background-color: #d14040;
    color: $color-white;
    font-size: 2rem;
  }

  &-show-more {
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-color: #F8F8F8;
  }
}
